li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #616161;
}

body {
    font-family: Rubik;
    font-size:12px;
    color: #616161;
}

.wrapper{
    overflow:hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Нужно чтобы wrapper занимал минимум всю ширину окна браузера*/

}

.main{
    flex:1 1 auto;
}


/* К любому объекту в классе которого __container будут применены данные стили*/
[class*="__container"]{
    max-width: 1087px; /* Расширили на 30px из-за padding */
    margin: 0 auto;
    padding: 0px 15px;
}

a{
    text-decoration: none;
}

.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index:50;
}
.header__container{
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__menu{
    flex: 1 1 auto;
}

.header__button{
    display: flex;
    justify-content: flex-end;
    flex: 0 0 252px;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: flex-end;
}

.menu__list{
    display: flex;
}

.menu__item{
    margin: 0px 40px 0px 0px; /*Можно использовать gap:40px; для .menu */
}


.menu__link{
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    color:#000;
    letter-spacing: 1px;
}

.button{
    display: inline-block;
    font-family: Raleway;
    font-weight: 800;
    font-size: 10;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    line-height: 1.2;
    color: #FCFDFE;
    padding: 13px 28px;
    border-radius: 5px;
    background: #EC5863;
    transition:background-color 0.3s ease 0s; /*Добавление анимации */
}

.button:hover{
    background-color: #b44048;
}

.button_blue{
    background-color: #4285F4;
}

.button_blue:hover{
    background-color: #366bbe;
}

.icon-menu{
    display: none;
}


/* Стили для main get-started */

.get-started{
    background-color: #FAFBFD;
    
}



