li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #616161;
}

body {
    font-family: Rubik;
    font-size:12px;
    color: #616161;
}

.wrapper{
    overflow:hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Нужно чтобы wrapper занимал минимум всю ширину окна браузера*/

}

.main{
    flex:1 1 auto;
}


/* К любому объекту в классе которого __container будут применены данные стили*/
[class*="__container"]{
    max-width: 1087px; /* Расширили на 30px из-за padding */
    margin: 0 auto;
    padding: 0px 15px;
}

a{
    text-decoration: none;
}

.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index:50;
}
.header__container{
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__menu{
    flex: 1 1 auto;
}

.header__button{
    display: flex;
    justify-content: flex-end;
    flex: 0 0 252px;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: flex-end;
}

.menu__list{
    display: flex;
}

.menu__item{
    margin: 0px 40px 0px 0px; /*Можно использовать gap:40px; для .menu */
}


.menu__link{
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    color:#000;
    letter-spacing: 1px;
}

.button{
    display: inline-block;
    font-family: Raleway;
    font-weight: 800;
    font-size: 10;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    line-height: 1.2;
    color: #FCFDFE;
    padding: 13px 28px;
    border-radius: 5px;
    background: #EC5863;
    transition:background-color 0.3s ease 0s; /*Добавление анимации */
}

.button:hover{
    background-color: #b44048;
}

.button_blue{
    background-color: #4285F4;
}

.button_blue:hover{
    background-color: #366bbe;
}

.icon-menu{
    display: none;
}


/* Стили для main get-started */

.get-started{
    background-color: #FAFBFD;
}

.get-started__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 153px 15px 50px 15px;
}

.get-started__container::before{
    content:"";
    position: absolute;
    top: 0;
    right: 267px;
    width: 100vw;
    height: 100%;
    background-color: #EC5863;
    border-radius: 30px 0px 0px 30px;
    transform: translate(100%,0);
}

.get-started__content{
    flex: 0 1 48%;
}

.get-started__block-text{
    max-width: 410px;
}

.block-text__title{
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000;
}

.block-text__title:not(:last-child){   /* Если объёкт будет последний - то отступ уберется */
    margin: 0px 0px 12px 0px;
}

.block-text__title span{
    color: #EC5863;
}

.block-text__title-blue span{
    color: #4285F4;
}

.block-text__text{
    line-height: 138.5%;
}

.block-text__text:not(:last-child){   /* Если объёкт будет последний - то отступ уберется */
    margin: 0px 0px 24px 0px;
}

.get-started__image{
    flex: 0 1 52%;
    z-index:2;
}

.get-started__image img{
    max-width: 100%;
}

.get-started__video{
    flex: 1 1 100%;
}

.video-get-started{
    display: inline-flex;
    padding: 60px 0px 0px 20px;
    align-items: center;
}

.video-get-started__icon{
    flex: 0 0 44px;
}

.video-get-started__body{
    margin-left:12px;
}


.video-get-started__text{
    color: #000;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 2px;
}

.video-get-started__title{
    color:#B0B0B0;
    font-size:13px;
    line-height: 126%;
    letter-spacing: 1.5px;
}

.video-get-started__title:not(:last-child){
    margin: 0px 0px 5px 0px;
}

/* Блок stay safe */

.stay-safe__block-text{
    max-width: 410px;
}

.stay-safe{
    padding: 80px 0px;
}